<!DOCTYPE html>

<html>
<head>
	<title>WDI Network - Profile</title>
	<link rel="stylesheet" type="text/css" href="/public/semantic.css">
</head>

<body>
	<h1>Welcome Back, <%= current_user.username %>!</h1>
	<p>Your current stated location is: <%= current_user.address %> in <%= current_user.city %>, <%= current_user.state %> (<%= current_user.country %>)</p>

	<form action="/change_location" method="POST">
		<input type="hidden" name="change_location" value="change_location">
		<input type="submit" value="Change My Location/Address">
	</form>

	<form action="/logout" method="POST">
		<input type="submit" value="Logout">
	</form>

	<br>
	<h2>Write New Post:</h2>
	<form action="/post" method="POST">
		<textarea rows="2" cols="40" name="content" placeholder="Comment here..."></textarea>
		<input type="submit" value="Submit">
	</form>


	<h2>Your Posts:</h2>
	<% own_posts.reverse_each do |post| %>
	<p><%= post.content %> - <%= post.timestamp %></p>
	<% end %>


	<br><br>
	<form action='/search' method="POST">
		<input type="submit" value="Search for Users to Follow">
	</form>

	<h2>You Are Following:</h2>
	<% following.reverse_each do |user| %>
	<p><b><%= user.username %></b> at <%= user.address%> in <%= user.city %>, <%= user.state %> (<%= user.country %>) - <i><%= user.distance %> kilometers from your location.</i></p>
	<% end %>


</body>

</html>